.work_box {
	position: relative;
	// width: 100%;
	top:10vw;
	margin-bottom: 100px;
	width: 85%;
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint($desktop){
		top:300px;
			width: 90%;

	}
}

.work {
	position: relative;
	// left:6%;
	display: flex;
	align-items:center;
	flex-direction:column;
	margin-bottom: 80px;
	transition:left 0.2s ease-in-out;
	@include breakpoint(600px) {
	    	flex-direction:row;
	    	align-items:flex-start;

	}
	@include breakpoint(1200px) {
		left:10%;
	}

	&--thumb{
		width:250px;
		height: 250px;
		// margin-left: 50px;
		display: inline-block;
		border: 5px solid $grey;
		background-size: cover;
		background-color: $white;
		margin-left: 15px;
		margin-bottom: 2rem;
		@include breakpoint($desktop) {
			position: relative;
			margin-left: 0;
			margin-bottom: auto;

		}

		&:before{
			width:250px;
			height:250px;
			display: block;
			content:'';
			background:transparent;
			border: 5px solid $white;
			position: relative;
			box-sizing:border-box;
			top:-20px;
			left:-20px;
			z-index: -1;
		}
		&:after{
			z-index: 1;
			display: block;
			content:'';
			width: 35px;
			height: 35px;
			position: absolute;
			top:10px;
			left:10px;
			background-image:url('/img/file_70px.png');
			background-repeat:no-repeat;
			background-position: center center;
			background-size: contain;
			visibility: hidden;

		}
	@include breakpoint($desktop) {
		&:hover:after{
			visibility: visible;
		}
		}
	}

	&--copy{
	
		@include breakpoint(600px){
				margin-left: 50px;
		}
	}

	&--header {
		margin-top: 0;
		font-family: "pressura-regular";
		color: $white;
		font-style: normal;
		font-weight: 100;
		font-size:3rem;
		font-size: 5.5vw;
		text-transform: uppercase;
		// letter-spacing: 2px;
		letter-spacing: 0.1em;				
		@include breakpoint(600px){
			font-size: 1.5rem;
		}
		& > a {
			color:$white;
			position: relative;
			display: inline-block;
			&:after{
				height: 1em;
				width:1em;
				content:'';
				display: none;
				position: absolute;
				// top:-1.1em;
				right:-1.23em;
				background-image:url('/img/link_64.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				bottom:0.2em;
				@include breakpoint(1080px){
						display: inline-block;
				}

			}
		}

	}

	&--detail {
		display: flex;
		justify-content:flex-start;
		font-family: "pressura-regular";
		font-weight: 100;
		text-transform: uppercase;
		font-size: 5.5vw;
		font-style: italic;
		color: $grey;
		letter-spacing: 0.05em;	
		@include breakpoint(600px){
			font-size: 1.5rem;
		}
		&.desc{
			max-width: 480px;
			margin-top: -0.5em;
		}			
		a {
			color:$grey;
		}


		& > span.name {
			display: inline-block;
			font-style: normal;
			color:$white;
    width: 60px;
    margin-right: 1em;
			letter-spacing: 0.1em;				

		}

		& span.collab, a.collab {
			// white-space: nowrap;
		}
	}
}